/* .dropdown_button {
  flex-grow: 1;
  max-width: 270px;
} */

.popular_dropdown {
  width: 270px;
}

.dropdown_button {
  justify-content: flex-start;
}

.dropdown_icon {
  margin-left: auto;
  fill: currentColor;
}

.navFeed_menu {
  position: absolute;
  overflow: auto;
  height: 480px;
  background-color: white;
}

@media (max-width: 1250px) {
  .popular_dropdown {
    display: none;
  }
}
